h1 {
	font-family: Arial;
	font-stretch: ultra-expanded;
	background: #c3d7df;
	text-align: center;
	text-decoration-color: 	#67727a;
	padding: 2rem;
	border-radius: 25px;
	position: relative;
	font-size: 40px;
	width: 50%;
	margin: 10px;
	margin-top: 50px;
	margin-left: 300px;
	margin-right: 1000px;
}

body {
	background-color: #f5f5f5;
	font-family: Arial;
	margin: 0px;
}

#buttons {
	background-color: #6991ac;
	font-family: Arial;
	border-radius: 25px;
	padding: 0.4rem;
}

#button1 {
	background-color: #6991ac;
	font-family: arial;
	border-radius: 25px;
}

#button1:hover {
  cursor: pointer;
	background: #6991ac;
	  transform: scale(1.1);
}


#uploadvideo {
	width: 26%;
	margin: 0 auto;
	padding: 2rem;
	font-family: Arial;
	margin-bottom: 10px;
}

#videocontainer {
	width: 600px;
	height: 380px;
	border: 5px solid #6991ac;
	border-radius: 25px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	font-family: Arial;
	-webkit-align-content: center;
	align-content: center;
	margin-left: 380px;
	margin-top: 80px;
	margin-bottom: 0px;
}

li {
	color: white;
	background: #d75c37;
	float: center;
	font-family: Arial;

	margin-left: 530px;
	border-radius: 25px;
	margin-right: 680px;
	text-align: center;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	display: block;
	transition-duration: 1s;
}

li:hover {
  cursor: pointer;
	background: #c15231;
	  transform: scale(1.2);
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
	border-radius: 25px;
  transition: all 2s ease;
  margin-top: 1rem;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 2;
  display: block;
}

ul li ul li {
  clear: both;
  width: 20%;
}
